{% extends "base_generic.html" %}
{% block title %}
<title>{{titulo}}</title>
{% endblock title%}
{% load static %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
<h1>Procesar Despacho</h1>
<form method="POST">
    {% csrf_token %}
    <div id="formularios">
        {{ form.as_p }}
        {{ form1.as_p }}
    </div>
    <h2>Usted va a procesar la venta {{ venta.nro_venta }}</h2>
    <h2>Con la siguiente direccion {{ direccion }}</h2>
    <h2>Personal a cargo de dejar el producto sera {{ conductor.nombre }} con el siguiente Rut {{ conductor.rut }}</h2>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<script>
    var x = document.getElementById("formularios");
    x.style.display = "none";
</script>
{% endblock %}