{% extends "base_generic.html" %}

{% block title %}
<title>{{titulo}}</title>
{% endblock title%}

{% block content %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
{% endblock extra_css %}
<div class="container-fluid">
    <div class="container">
        <h1>Ventas</h1>
        <div class="table">
            <table id="venta" class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Numero Venta</th>
                        <th>Tipo Venta</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Fecha Compra</th>
                        <th>Estado Compra</th>
                        <th>Administracion</th>
                    </tr>
                </thead>
                <tbody style="text-align: justify;">
                    {% for venta in venta %}
                    <tr>
                        <td>{{ venta.id }}</td>
                        <td>{{ venta.nro_venta }}</td>
                        <td>{{ venta.tipo_venta}}</td>
                        <td>{{ venta.nombre_cliente }}</td>
                        <td>{{ venta.direccion }}</td>
                        <td>{{ venta.fecha_compra }}</td>
                        {% if venta.estado_compra == 1 %}
                        <td>En Espera</td>
                        {% elif venta.estado_compra == 2 %}
                        <td>Ruta</td>
                        {% elif venta.estado_compra == 3 %}
                        <td>Procesado</td>
                        {% else  %}
                        <td>Concluido</td>
                        {% endif %}
                        <td>
                            {% csrf_token %}
                            <a href="{% url 'ServicioWeb:procesar' venta.id %}">Procesar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script>
    $(document).ready(function () {
        $('#venta').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            }
            
        });
    });
</script>
{% endblock extra_script %}